.exhibition {
    padding: 20px;
    text-align: center;
  }
  
  .exhibition-items {
    display: flex;
    justify-content: space-around;
  }
  
  .exhibition-item img {
    width: 100%;
    max-width: 200px;
    height: auto;
  }
  